<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    
    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

    <script src="{% static '/js/page_move.js' %}"></script>
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" />
	  <link href="{% static '/css/login.css' %}" rel="stylesheet" />   
    
  </head>
  <body>
    <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!--<ul class="nav navbar-nav">
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                    <img src="images/flags/US.png"/>
                    English(US) 
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><img src="images/flags/DE.png"/> Deutsch</a></li>
                    <li><a href="#"><img src="images/flags/GB.png"/> English(UK)</a></li>
                    <li><a href="#"><img src="images/flags/FR.png"/> Français</a></li>
                    <li><a href="#"><img src="images/flags/RO.png"/> Română</a></li>
                    <li><a href="#"><img src="images/flags/IT.png"/> Italiano</a></li>
                    
                    <li class="divider"></li>
                    <li><a href="#"><img src="images/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
                    <li><a href="#"><img src="images/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
                    <li><a href="#"><img src="images/flags/JP.png"/> 日本語 <span class="label label-default">soon</span></a></li>
                    <li><a href="#"><img src="images/flags/TR.png"/> Türkçe <span class="label label-default">soon</span></a></li>
                 
                  </ul>
            </li>
          
          </ul>-->
          <ul class="nav navbar-nav navbar-right">
                <!--<li>
                    <a href="#"> 
                        <i class="fa fa-facebook-square"></i>
                        Join
                    </a>
                </li>-->
                 <li>
                    <a href="{% url 'user:register' %}">
                        <i class="joinform"></i>
                        Sign Up
                    </a>
                </li>
                 <li>
                    <a href="/index"> 
                        <i class="loginform"></i>
                        Home
                    </a>
                </li>
           </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <section class="login-form">
      <h1 class="logo cursive">
        <div>Login in</div>

    </h1>
    

      <form method="POST">
        {% csrf_token %}
        <div class = "int-area">
          <input type="text" name="user_id" id="user_id"
          autocomplete="off" required>
          <label for="id">ID</label>
        </div>

        <div class="int-area">
          <input type="password" name="pwd" id="pwd"
          autocomplete="off" required>
          <label for="pw">PW</label>
        </div>

        <div class="btn-area">
          <button type = "submit" value="login">LOGIN</button>
        </div>

      </form>
      <div class="caption">
        <a href="{% url 'user:register' %}">Sign Up</a>
      </div>

    </section>
    <div class="cover black" data-color="black"></div>
  </body>
</html>